// @import url('https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap');
// font-family: "Send Flowers", cursive;
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Homemade+Apple&family=Rozha+One&family=Saira+Extra+Condensed:wght@600&display=swap');

@import './partials/react-datepicker';

$widgetWidth: 349px;
$widgetHeight: 220px;
$colourText1: rgb(63, 55, 63);
$colourText2: rgba(0, 0, 0, 0.9);
$colorTextError: rgb(181, 12, 12);
$colourSticker: rgb(218, 218, 211);
$colourSticker2: rebeccapurple;
$colourSticker3: sandybrown;
$colourWidgetBack: rgb(152, 131, 107);
$colourWidgetShadow: rgba(0, 0, 0, 0.15);
// $colourWidgetBack: rgb(145,116,84);

* {
  margin: 0;
  padding: 0;
}

/* FLEX C */

#root,
#locationPicker,
.locationListError,
.scrollHeader,
.iconBtn,
.formBtn {
  display: flex;
}

#root {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

#locationPicker {
  flex-direction: column;
}

.locationListError {
  align-content: center;
}

#locationPicker {
  justify-content: flex-end;
}

.scrollHeader {
  justify-content: space-between;
}

#apiError,
#credits,
.artBack,
.stampForecast,
.form-page {
  display: flex;
  flex-direction: column;
  height: $widgetHeight;
}

#apiError,
.iconBtn,
.formBtn {
  justify-content: space-evenly;
}

/* FLEX I */

.stampForecast {
  align-self: flex-end;
  flex-grow: 1;
}

.form,
.creditInfo {
  flex-grow: 1;
}

.creditInfo {
  align-content: center;
}

/* LAYOUT */

body {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 1px;
}

section {
  box-sizing: border-box;
  width: $widgetWidth;
  height: $widgetHeight;
  overflow: hidden;
  border-radius: 15px;
  background-color: $colourWidgetBack;
  box-shadow: 15px 15px 10px 5px $colourWidgetShadow; // x offset, y offset, blur, spread
}

/* HOME */
.home {
  background-size: cover;
}

/* ART BACK */

#info {
  color: $colourText2;
}

.stampForecast {
  rotate: 10deg;
  padding-bottom: 6px;
  vertical-align: bottom;
}

.iconBtn img,
.formBtn img {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.iconBtn {
  opacity: 55%;
}

.formBtn img {
  opacity: 60%;
}

.stampForecast {
  font-family: 'Abril Fatface', serif;
  text-align: center;
}

#air {
  background-color: $colourSticker3;
  display: float;
  position: absolute;
  font-size: 24px;
  padding: 0px 8px 2px 8px;
  border-radius: 10%;
  margin-top: 135px;
  margin-left: 30px;
  rotate: 18deg;
}

#air img {
  vertical-align: sub;
  width: 25px;
  padding-right: 0.2em;
}

#air img, #air span {
  opacity: 65%;
}

.owFeelsLike,
.owDescription {
  font-size: 16px;
  display: block;
}

.owFeelsLike {
  opacity: 80%;
}

.owFeelsLike::before {
  content: 'Feels like ';
}

.owFeelsLike::after {
  content: '\00B0' + 'C';
}

.eventName,
.owDescription {
  text-transform: capitalize;
}

.circle {
  margin: 0 auto;
  margin-top: auto;
  margin-bottom: 5px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: $colourSticker2;
}

.degreesNumBig {
  font-size: 44px;
  line-height: 80px;
  color: $colourSticker;
  // letter-spacing: -0.01em;
}

.stickerEvent {
  max-width: calc($widgetWidth * 0.7);
  max-height: calc($widgetHeight * 0.56);
  // overflow: hidden;
  margin: 20px 0 0 8px;
  box-sizing: border-box;
  padding: 14px 12px 0px 12px;
  rotate: -10deg;
  background-color: $colourSticker;
  text-align: center;
  font-family: 'Homemade Apple', cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -1px;
  position: absolute;
}

.eventName {
  border-bottom: 2px solid $colourText1;
  font-size: 22px;
  overflow-wrap: break-word;
}

.eventCity {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  font-size: 12px;
  // padding: 0 6px;
  letter-spacing: 1px;
  display: inline-block;
  line-height: 0;
}

.eventDate {
  letter-spacing: 0.06em;
  line-height: 13px;
  padding-bottom: 10px;
  font-size: 14px;
}

/* ART */

section#art {
  background-color: none;
}

.artImg {
  height: $widgetHeight;
  background-position: center;
  border-radius: 15px;
}

.airQuality {
  // opacity: 50%;
  // background-color: rgba(0,0,0,0.5);
  width: $widgetWidth;
  height: $widgetHeight;
}

/* CREATE EVENT */

.form-page {
  padding: 10px;
}

.formH1 {
  text-align: center;
  font-size: 22px;
}

.form-page button {
  background: none;
  border: 0;
  margin-bottom: 8px;
}

.form {
  margin: 0 auto;
  width: calc($widgetWidth - 40px);
}

.formBtn {
  height: 30px;
  margin-top: 35px; // hack
}

input,
label {
  // display: block;
  display: inline-block;
  // margin: 3px 0;
  padding: 3px;
}

label {
  width: 40px;
  font-size: 18px;
  text-transform: uppercase;
}

input {
  width: calc($widgetWidth - 100px);
}

/* LOCATION PICKER */

#locationPicker {
  background-color: $colourSticker;
  border: 1px solid $colourWidgetShadow;
}

.scrollHeading {
  text-transform: uppercase;
  margin-top: 2pw;
  margin-left: 15px;
  font-size: 19px;
}

.close {
  width: 28px;
  margin-right: 8px;
  cursor: pointer;
}

.locationList {
  margin: 0 auto;
  // margin-right: 15px;
  width: calc($widgetWidth - 32px);
  height: calc($widgetHeight - 40px);
  overflow-y: scroll;
  overflow-x: hidden;
  color: $colourText1;
}

.locationListError {
  height: calc($widgetHeight - 40px);
  text-align: center;
}

.cityOption {
  border-bottom: 1px dotted $colourWidgetBack;
  padding: 10px;
  cursor: pointer;
}

.errorMsg:last-child,
.cityOption:last-child {
  border-bottom: 0;
  padding-bottom: 16px;
}

.notifications,
.notificationsEmpty {
  min-width: calc($widgetWidth - 40px);
  position: absolute;
  background: $colourSticker;
  margin-top: calc(($widgetHeight / 2) - 30px);
  padding-right: 15px;
  padding-left: 10px;
  box-sizing: border-box;
}

.notificationError {
  height: 0;
  padding-left: 0;
  margin-top: -3px;
}

.notificationError p {
  background-color: $colorTextError;
  color: white;
  padding: 1px 0 0 0;
  margin: 0;
  text-align: center;
  height: 12px;
  letter-spacing: 0.09em;
}

/* ERRORS */

.errorMsg {
  color: $colorTextError;
}

#apiError {
  background-color: $colourSticker;
  text-align: center;
  border: 1px solid $colourWidgetShadow;
}

.errorEscapeBtn {
  margin-top: 1em;
  padding: 0.1em 1.5em;
  background-color: $colorTextError;
  display: inline-block;
  color: $colourSticker;
  cursor: pointer;
}

/* CREDITS */

#credits {
  text-align: center;
  // background-color: $colourSticker2;
  background-color: $colourSticker3;
  // background-color: $colourSticker;
}

.title,
.artist {
  line-height: 1em;
}

.title {
  text-transform: uppercase;
}

.artist {
  font-size: 18px;
  padding: 0.5em 0 0.4em 0;
}

.creditInfo {
  padding: 1em 0.5em 0.5em 0.5em;
}

.date {
  font-size: 14px;
  opacity: 50%;
}

hr {
  border: 0;
}

.line {
  width: 20%;
  border-top: 1px solid $colourText2;
  opacity: 40%;
  margin: 0 auto;
}

.smallprint {
  font-size: 13px;
  opacity: 50%;
  font-style: italic;
  padding: 0.5em 0.5em 1.5em 0.5em;
  line-height: 1em;
  letter-spacing: 0.05em;
}