// @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Homemade+Apple&family=Saira+Extra+Condensed:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Homemade+Apple&family=Rozha+One&family=Saira+Extra+Condensed:wght@600&display=swap');
$widgetWidth: 349px;
$widgetHeight: 220px;
$colourText1: rgb(63, 55, 63);
$colourSticker: rgb(218, 218, 211);
$colourSticker2: rebeccapurple;
$colourSticker3: sandybrown;
$colourWidgetBack: rgb(152, 131, 107);
// $colourWidgetBack: rgb(145,116,84);

* {
  margin: 0;
  padding: 0;
}

/* FLEX C */

#root,
.iconBtn,

.formBtn {
  display: flex;
}

#root {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

// #info
.artBack,
.stampForecast,
.form-page {
  display: flex;
  flex-direction: column;
  height: $widgetHeight;
}

.iconBtn, .formBtn {
  justify-content: space-evenly;
}

/* FLEX I */
.stampForecast {
  align-self: flex-end;
  flex-grow: 1;
}

.form {
  flex-grow: 1;
}

/* LAYOUT */

body {
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 1px;
}

section {
  box-sizing: border-box;
  width: $widgetWidth;
  height: $widgetHeight;
  overflow: hidden;
  border-radius: 15px;
  background-color: $colourWidgetBack;

}

/* INFO */

#info {
  // display: none;
  color: $colourText1;
}

.stampForecast {
  rotate: 10deg;
  padding-bottom: 6px;
  vertical-align: bottom;
  // // height: 300px;
}

.iconBtn img, .formBtn img {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.iconBtn {
  opacity: 40%;
}

.formBtn img {
  opacity: 60%;
}

.stampForecast {
  font-family: "Abril Fatface", serif;
  text-align: center;
}

.owFeelsLike,
.owDescription {
  font-size: 12px;
  display: block;
}

.owFeelsLike {
  opacity: 75%;
}

.owFeelsLike::before {
  content: 'May feel like ';
}

.owFeelsLike::after {
  content: ' \00B0 C';
}

.eventName,
.owDescription {
  text-transform: capitalize;
}

.circle {
  margin-top: auto;
  margin-bottom: 5px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: $colourSticker2;
}

.degreesNumBig {
  font-size: 50px;
  line-height: 76px;
  color: $colourSticker;
}

.stickerEvent {
  margin: 20px 0 0 8px;
  box-sizing: border-box;
  padding: 16px 12px 0px 12px;
  rotate: -10deg;
  background-color: $colourSticker;
  text-align: center;
  max-width: calc($widgetWidth * 0.7);
  font-family: "Homemade Apple", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -1px;
  position: absolute;
}

.eventName {
  border-bottom: 2px solid $colourText1;
  font-size: 22px;
}

.eventCity {
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  font-size: 12px;
  padding: 0 6px;
  letter-spacing: 1px;
  display: inline-block;
  line-height: 0;
}

.eventDate {
  letter-spacing: 0.06em;
  line-height: 16px;
}

/* ART */

section#art {
  // display: none;
  background-color: none;
}

.artImg {
  height: $widgetHeight;
  background-position: center;
  border-radius: 15px;
}

/* ABOUT */

#credits {
  display: none;
}

/* CREATE EVENT */

.form-page {
  padding: 10px;
}

.form-page h1 {
  text-align: center;
  font-size: 22px;
}

.form-page button {
background: none;
border: 0;
margin-bottom: 8px;
}

.form {
  margin: 0 auto;
  width:  calc($widgetWidth - 40px);
}

.formBtn {
  height: 30px;
}

input, label {
  // display: block;
  display: inline-block;
  // margin: 3px 0;
  padding: 3px;
}

label {
  width: 40px;
  font-size: 18px;
  text-transform: uppercase;
}

input {
  width: calc($widgetWidth - 100px);
}

.errorMsg, .cityOption {
  margin-left: 45px;
}