@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Homemade+Apple&family=Rozha+One&family=Saira+Extra+Condensed:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
}

/* FLEX C */
#root,
.iconBtn,
.formBtn {
  display: flex;
}

#root {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.artBack,
.stampForecast,
.form-page {
  display: flex;
  flex-direction: column;
  height: 220px;
}

.iconBtn, .formBtn {
  justify-content: space-evenly;
}

/* FLEX I */
.stampForecast {
  align-self: flex-end;
  flex-grow: 1;
}

.form {
  flex-grow: 1;
}

/* LAYOUT */
body {
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 1px;
}

section {
  box-sizing: border-box;
  width: 349px;
  height: 220px;
  overflow: hidden;
  border-radius: 15px;
  background-color: rgb(152, 131, 107);
}

/* INFO */
#info {
  color: rgb(63, 55, 63);
}

.stampForecast {
  rotate: 10deg;
  padding-bottom: 6px;
  vertical-align: bottom;
}

.iconBtn img, .formBtn img {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.iconBtn {
  opacity: 40%;
}

.formBtn img {
  opacity: 60%;
}

.stampForecast {
  font-family: "Abril Fatface", serif;
  text-align: center;
}

.owFeelsLike,
.owDescription {
  font-size: 12px;
  display: block;
}

.owFeelsLike {
  opacity: 75%;
}

.owFeelsLike::before {
  content: "May feel like ";
}

.owFeelsLike::after {
  content: " °C";
}

.eventName,
.owDescription {
  text-transform: capitalize;
}

.circle {
  margin-top: auto;
  margin-bottom: 5px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rebeccapurple;
}

.degreesNumBig {
  font-size: 50px;
  line-height: 76px;
  color: rgb(218, 218, 211);
}

.stickerEvent {
  margin: 20px 0 0 8px;
  box-sizing: border-box;
  padding: 16px 12px 0px 12px;
  rotate: -10deg;
  background-color: rgb(218, 218, 211);
  text-align: center;
  max-width: 244.3px;
  font-family: "Homemade Apple", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -1px;
  position: absolute;
}

.eventName {
  border-bottom: 2px solid rgb(63, 55, 63);
  font-size: 22px;
}

.eventCity {
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  font-size: 12px;
  padding: 0 6px;
  letter-spacing: 1px;
  display: inline-block;
  line-height: 0;
}

.eventDate {
  letter-spacing: 0.06em;
  line-height: 16px;
}

/* ART */
section#art {
  background-color: none;
}

.artImg {
  height: 220px;
  background-position: center;
  border-radius: 15px;
}

/* ABOUT */
#credits {
  display: none;
}

/* CREATE EVENT */
.form-page {
  padding: 10px;
}

.form-page h1 {
  text-align: center;
  font-size: 22px;
}

.form-page button {
  background: none;
  border: 0;
  margin-bottom: 8px;
}

.form {
  margin: 0 auto;
  width: 309px;
}

.formBtn {
  height: 30px;
}

input, label {
  display: inline-block;
  padding: 3px;
}

label {
  width: 40px;
  font-size: 18px;
  text-transform: uppercase;
}

input {
  width: 249px;
}

.errorMsg, .cityOption {
  margin-left: 45px;
}/*# sourceMappingURL=main.css.map */